data/
outputs/
*.pyc
mini_dev/
.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store

docs/Text-to-SQL Router Project Overview.md
docs/Setup guide.md
docs/Proposal Instructions.md
docs/Project Report.md
docs/Project Explained.md

CLAUDE.md
